.topic16 {
    background: url(icons/education/topic16.png);
}
.subject16 {
    background: url(icons/education/subject16.png);
}
.course16 {
    background: url(icons/education/course16.png);
}
.eduprogram16 {
    background: url(icons/education/eduprogram16.png);
}
.mission16 {
    background: url(icons/education/mission16.png);
}
.university16 {
    background: url(icons/education/university16.png);
}
.faculty16 {
    background: url(icons/education/faculty16.png);
}
.mapping16{
    background: url(icons/education/mapping16.png) no-repeat;
}
.listcso16{
    background: url(icons/education/mapping16.png) no-repeat;
}
.so-peo16{
    background: url(icons/education/mapping16.png) no-repeat;
}
.peo-um16{
    background: url(icons/education/mapping16.png) no-repeat;
}
.co16{
    background: url(icons/education/co16.png) no-repeat;
}
.student16 {
    background: url(icons/education/student16.png);
}
.teacher16 {
    background: url(icons/education/teacher16.png);
}
.study16 {
    background: url(icons/education/study16.png);
}
.improve16 {
    background: url(icons/education/improve16.png);
}
.test16 {
    background: url(icons/education/test16.png);
}
.practice16 {
    background: url(icons/education/practice16.png);
}
.training16 {
    background: url(icons/education/training16.png);
}
.so16 {
    background: url(icons/education/so16.png);
}
.peo16 {
    background: url(icons/education/peo16.png);
}
.trcor16 {
    background: url(icons/education/percentCO16.png);
}
.cc_co_r4t16 {
    background: url(icons/education/percentCO16.png);
}
.cc_co_r4tr16 {
    background: url(icons/education/percentCO16.png);
}
.co_so_r4tr16 {
    background: url(icons/education/percentCO16.png);
}
.course_so_r4tr16 {
    background: url(icons/education/percentCO16.png);
}
